<!DOCTYPE html>
<html>
<head>
  <title>Store Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <h2><%= link_to 'Store-Demo', ''%></h2>
    </div>
    <div id="navbar-main" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to '' ,''%>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      	<%if user_signed_in?%>
        	<li><%= link_to 'Logout', destroy_user_session_path, method: 'delete' %></li>
        <%else%>
        	<li><%= link_to 'Login', new_user_session_path, method: 'get' %></li>
        <%end%>
      </ul>
    </div>
  </div>
</div>
<%= yield %>

</body>
</html>
